.main{
    position: relative;
    width: 400px;
    height: 230px;
    background-color: rgb(209, 209, 209);
}
.box{
    position: absolute;
    width: 400px;
    height: 230px;
    background-image: url(perro.jpg);
    transition: all 600ms;
}

.main:hover .box{
    position: absolute;
    opacity: 0%;
    width: 400px;
    height: 230px;
    background-image: url(perro.jpg);
}

.main:hover p{
    opacity: 1;
}

p{
    position: absolute;
    opacity: 0;
    z-index: 2;
}
