@media only screen and (max-width: 1000px)
{
    body{
        background-color: blue;
    }
}

@media only screen and (max-width: 500px)
{
    body{
        background-color: green;
    }
}

@media only screen and (max-width: 100px)
{
    body{
        background-color: crimson;
    }
}