nav{
    width: 100%;
}

nav li{
    float: left;
    width: auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: darkblue;
    border: 1px solid yellow;
    list-style: none;
    padding: 0px 50px;
}

nav li:hover{
    background-color: green;
    border: 1px solid yellow;
}

ul{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: darkblue;
}

a{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 800px){
    nav li{
        width: 100%;
        padding: 0px 0px;
    }
}