section {
    font-size: 0;
}

div {
    height: 100px;
}

.cont-1 {
    display: inline-block;
    background-color: darkkhaki;
    width: 33.33%;
}

.cont-2 {
    display: inline-block;
    background-color: rgba(49, 49, 255, 0.794);
    width: 33.33%;
}

.cont-3 {
    display: inline-block;
    background-color: rgba(255, 166, 0, 0.76);
    width: 33.33%;
}

.cont-violeta {
    background-color: orchid;
    width: 100%;
}

.cont-4 {
    display: inline-block;
    background-color: darkkhaki;
    width: 50%;
}

.cont-5 {
    display: inline-block;
    background-color: rgba(255, 166, 0, 0.76);
    width: 50%;
}