.grid{
    display: grid;
    grid-template-columns: 200px 300px;
    grid-template-rows: 80px 190px 40px;
    grid-template-areas:    "seccion-1  seccion-1"
                            "seccion-2  seccion-3" 
                            "seccion-4  seccion-4";
    background-color: rgb(212, 123, 123);
    width: 500px;
    border-radius: 5px;
    border: 0px solid rgb(190, 19, 19);
}

#seccion-1{
    border: 0px solid pink;
    background-color: black;
    grid-area: seccion-1;

    border-radius: 5px 5px 0px 0px;
}

#seccion-2{
    border: 0px solid blueviolet;
    background-color: white;
    grid-area: seccion-2;
    text-align: center;
    line-height: 150px; 
    color: red;
    padding-top: 0.7em;
}

#seccion-2>img{
    width: 160px;
    height: 160px;
    place-self: center;
}

#seccion-3{
    border: 0px solid red;
    background-color: white;
    grid-area: seccion-3;
}

#seccion-3>p{
    align-self: center;
    justify-self: center;
    line-height: 115%;
    text-align: justify;
    padding: 1px 22px 5px 15px;
    color: black;
    font-size: 16px;
}

#seccion-4{
    border: 0px solid gold;
    background-color: black;
    grid-area: seccion-4;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 12px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 15px;
}

#contenedor{
    background-color: rgba(5, 5, 5, 0.85);
    width: 500px;
    height: 310px;
    grid-column: 1/3;
    grid-row: 1/4;
    border-radius: 5px;
}

#contenedor>p{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
}

#contenedor>img{
    width: 95px;
    height: 95px;
    margin-top: 5px;
    margin-left: 200px;
    margin: 0px 0px 11px 200px;
}

.boton{
    background-color: transparent;
    border: 3px solid green;
    width: 190px;
    height: 38px;
    border-radius: 5px;
    margin-left: 148px;
    color: white;
    font-weight: bolder;
    text-align: center;
    line-height: 38px;
}

section{
    margin: 0 auto;
}