.grid{
    display: grid;
    width: 100%;
    background-color: purple;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px repeat(10, 80px) 80px;
    grid-template-areas:    "header header"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "nav    cuerpo"
                            "footer    footer";
}

.grid>div{
    border: 1px solid red;
}

.img{
    width: 120px;
    height: 120px;
}
.header, .nav, .cuerpo, .footer{
    text-align: center;
    padding-top: 0px;
}

.header{
    grid-area: header;
    background-color: teal;
    line-height: 35px;
}

.nav{
    grid-area: nav;
    background-color: pink;
}

.grid-nav{
    display: grid;
    width: 100%;
    background-color: black;
    border: 10px solid rgb(196, 199, 41);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 20px);
    grid-template-areas:    "fila"
                            "fila"
                            "fila"
                            "fila"
                            "fila";
}

.fila{
    width: 100%;
    background-color: blue;
}
.cuerpo{
    grid-area: cuerpo;
    background-color: orange;
    border: 10px solid black;
}

.footer{
    grid-area: footer;
    background-color: grey;
}
/*
@media only screen and (orientation: landscape){
    .grid{
        display: grid;
        width: 600px;
        background-color: green;
        grid-template-columns: repeat(3,200px);
        grid-template-rows: repeat(2, 200px);
        grid-template-areas:    "header     aside   aside"
                                "header     nav     nav";
    }
} */