.contenedor{ 
    position: relative;
    width: 256px;
    height: 356px;
    border: 1px solid blue;
    overflow: hidden;
}
.fondo-amarillo{
    position: absolute;
    width: 256px;
    height: 256px;
    background-image: url(cat.png);
    background-repeat: no-repeat;
    background-color: gold;
    z-index: 5;
    transition: all 750ms;
}
.fondo-texto{
    position: absolute;
    top: 256px;
    width: 256px;  
    border-top: 1px solid blue;
}
.fondo-texto>p:first-of-type {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 0px 0px 0px 5px;
}
.fondo-texto>p:last-of-type {
    font-size: 14px; 
    padding: 0px 0px 0px 5px;
}
.boton{
    position: absolute;
    top: 100px;
    left: 36%;
    font-size: 20px;
    width: 70px;
    background-color: transparent;
    border-radius: 1em;
    border: 1px solid white;
    text-align: center;
    z-index: 0;
    transition: all 750ms;    
    cursor: pointer;
    color: white;
}
.contenedor:hover>.fondo-amarillo{
    filter: blur(7px);
}
.contenedor:hover>.boton{
    z-index: 10;
}
.boton:hover{
    background-color: white;
    color: red;
    border-radius: 1em;
    border: 1px solid red;
    text-align: center;
}

.boton p{
    margin: 0 auto;
    font-size: 15px;
    padding: 10px;
}