#seccion_limon{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgba(153, 205, 50, 0.822);
}

#seccion_azul{
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: rgba(0, 0, 255, 0.562);
}

#seccion_amarillo{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: rgb(236, 219, 59);
}
#seccion_coral{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: coral;
}



.modo-grid{
    display: grid;
    width: 500px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  repeat(3,60px);
    text-align: center;
    margin: 5% auto;
    gap: 5px;
}

.modo-grid > div{
    border: 1px solid blue;
    background-color: cornflowerblue;
    margin-left: 5% auto;
}

